#banner{
    position: fixed;
    width:100%;
    z-index:5;
    margin-left: 4%;
    background-color: white;
}
.navbar{
   height: 50px;
   background-color: #eeee;
   border-bottom-left-radius: 15px;
}
.user{
    margin-left:25%;
   
}
#avatar{
    margin:5%;
    width:90px;
    border-radius:20px;
    background-color:white;
    box-shadow: 4px 4px 5px 0px rgba(209,201,209,1);
    height: 30px;
}
#avatar p{
    margin-top: 2%;
    margin-left: 5%;
}
.settings{
    margin-left:3%;
  
}
.ant-input-search{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
@media only screen and (max-width: 600px) {
    #banner{
        position: relative;
    }
}
#test{
    box-shadow: 4px 4px 5px 0px rgba(209,201,209,1);
}
.brand span{
    color: brown;
}
.brand h5{
    font-size: medium;
}
.brand{
    margin-left: 15%;
}
.ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical, .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right {
    background-color: #1f1f1f;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background-color: black;
}
.ant-menu-item .ant-menu-item-active .ant-menu-item-selected{
    background-color:#eee;
}
.intro{
    width: 316.5px;
    height: 50px;
    background-color: #eee;
    border-bottom-right-radius: 15px;
    position: fixed;
}
#as{
    margin-left: 60%;
    position: absolute;
}
#bs{
    margin-left:80%;
    position: absolute;
}
#cs{
    position: absolute;
    margin-left: 10%;
    margin-top: 2%;
}
#bannerleft{
    position: fixed; top: 0px; height: 8402.8px;width: 316.5px;
    margin-top: 3.5%;
    border-top-right-radius: 15px;
}
th,td{
    text-align: center;
}
