.container{
    margin-top:5%
}
#export{
    top:40%;
    left:40%;
}
#btnaddempl{
    top:40%;
    left:45%;
}
@media only screen and (max-width: 600px) {
    .ant-btn-primary{
        top:40%;
        left:40%;
    }
    #export{
        top:40%;
        left:30%;
    }
}
.tools{
    margin:2%;
}
thead{
    background-color: aliceblue;
}
.ant-btn-circle{
    margin: 2%;
}
.col-xl-2{
    padding:0;
}
.col-xl-10{
    padding:0;
}


.ant-menu-light{
    background-color: aliceblue;
}
.ant-menu-light .ant-menu-submenu-title{
    border-bottom:2px solid #eee;
    margin:0;
    font-size: large;
}
#home{
    margin:0;
    font-size: large;
}
#btncreate{
    top:40%;
    left:45%;
}